h2{
    color: brown;
    text-align: center;
    padding: 20px;

}

button{
    background-color: brown;
    border-radius: 3px;
}

body{
    background-image: url('/static/images/cot.jpg');
}
ul{
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 50%;
    border-radius: 3px;
}

.search{
    margin-left: 20%;
}
.add{
    margin-left: 20%;
    color: black;
}

.back{
    color: black;
}

