<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you want to delete "{{ contact.name}}"?</h3>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes</button>
    </form>
    <a href="{% url 'index' %}" class="back"><i class="fa-solid fa-square-caret-left"></i>No, go back contact</a>
</body>
</html>