<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Search</title>
</head>
<body>
    <h2>Search results for "{{ query }}"</h2>
    <ul>
        
        {% for item in contacts %}
            <li>
                {{ item.name }} - {{ item.phone }}
                <a href="{% url 'update' item.id %}">Update</a>
                <a href="{% url 'delete' item.id %}">Delete</a>
            </li>
            
        {% endfor %}
            
    </ul>
    <a href="{% url 'index' %}">Back to Contacts</a>
</body>
</html>