.div{
    background-image: url('/static/images/cal.jpg');
    border-radius: 4px;
    border-width: 250px;
    margin-left: 40%;
    padding-left: 5%;
    margin-top: 8%;
    padding-top: 2%;
    width: 250px;
    height: 150px;
}
body{
    background-image: url('/static/images/num.jpg');
}
.result{
    background-color: aliceblue;
}

button{
    background-color: brown;
}
h1{
    text-align: center;
    padding-top: 7%;
}